XML Validator/_source/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2019 rel. 3 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Import">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="public.person"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="query" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="name"/>
				<xs:element ref="position"/>
				<xs:element ref="age"/>
				<xs:element ref="salary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="age">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="25"/>
				<xs:enumeration value="27"/>
				<xs:enumeration value="29"/>
				<xs:enumeration value="30"/>
				<xs:enumeration value="35"/>
				<xs:enumeration value="43"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="48"/>
				<xs:enumeration value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Александр Пчельников"/>
				<xs:enumeration value="Алексей Маслов"/>
				<xs:enumeration value="Василий Быков"/>
				<xs:enumeration value="Владимир Смирнов"/>
				<xs:enumeration value="Вячеслав Давыдов"/>
				<xs:enumeration value="Иван Петров"/>
				<xs:enumeration value="Леонид Белов"/>
				<xs:enumeration value="Николай Печкин"/>
				<xs:enumeration value="Петр Елисеев"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="position">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ведущий специалист"/>
				<xs:enumeration value="Главный специалист"/>
				<xs:enumeration value="Директор"/>
				<xs:enumeration value="Заместитель Директора"/>
				<xs:enumeration value="Начальник отдела"/>
				<xs:enumeration value="Старший специалист"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="salary">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="230000"/>
				<xs:enumeration value="280000"/>
				<xs:enumeration value="300000"/>
				<xs:enumeration value="330000"/>
				<xs:enumeration value="350000"/>
				<xs:enumeration value="380000"/>
				<xs:enumeration value="400000"/>
				<xs:enumeration value="450000"/>
				<xs:enumeration value="500000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
