PersonClientApplication/src/META-INF/wsdl/localhost_8080/PersonWSApplication/PersonWebServiceImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://personwsapplication.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://personwsapplication.mycompany.com/" name="PersonWebServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://personwsapplication.mycompany.com/" schemaLocation="http://localhost:8080/PersonWSApplication/PersonWebServiceImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="RAge">
<part name="parameters" element="tns:RAge"/>
</message>
<message name="RAgeResponse">
<part name="parameters" element="tns:RAgeResponse"/>
</message>
<message name="RSalary">
<part name="parameters" element="tns:RSalary"/>
</message>
<message name="RSalaryResponse">
<part name="parameters" element="tns:RSalaryResponse"/>
</message>
<message name="RPerson">
<part name="parameters" element="tns:RPerson"/>
</message>
<message name="RPersonResponse">
<part name="parameters" element="tns:RPersonResponse"/>
</message>
<portType name="PersonWebServiceImpl">
<operation name="RAge">
<input wsam:Action="http://personwsapplication.mycompany.com/PersonWebServiceImpl/RAgeRequest" message="tns:RAge"/>
<output wsam:Action="http://personwsapplication.mycompany.com/PersonWebServiceImpl/RAgeResponse" message="tns:RAgeResponse"/>
</operation>
<operation name="RSalary">
<input wsam:Action="http://personwsapplication.mycompany.com/PersonWebServiceImpl/RSalaryRequest" message="tns:RSalary"/>
<output wsam:Action="http://personwsapplication.mycompany.com/PersonWebServiceImpl/RSalaryResponse" message="tns:RSalaryResponse"/>
</operation>
<operation name="RPerson">
<input wsam:Action="http://personwsapplication.mycompany.com/PersonWebServiceImpl/RPersonRequest" message="tns:RPerson"/>
<output wsam:Action="http://personwsapplication.mycompany.com/PersonWebServiceImpl/RPersonResponse" message="tns:RPersonResponse"/>
</operation>
</portType>
<binding name="PersonWebServiceImplPortBinding" type="tns:PersonWebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RAge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RSalary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonWebServiceImplService">
<port name="PersonWebServiceImplPort" binding="tns:PersonWebServiceImplPortBinding">
<soap:address location="http://localhost:8080/PersonWSApplication/PersonWebServiceImplService"/>
</port>
</service>
</definitions>